#root {
  max-width: 100%;
  max-height: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.main {
  height: 100%;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.sidebar {
  justify-content: space-between;
  border-right: solid 1px #ececed;
}

.top-sidebar {
  background-color: white;
  width: 18rem;
}

.header {
  border-bottom: solid 1px #ececed;
}

.account-menu {
  display: flex;
  border-top: solid 1px #ececed;
}

.setting-icon {
  padding: 0 0.5rem;
}

.account-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.5rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 1rem;
}

.account-pic {
  border-radius: 50%;
}

.menus {
  padding: 0.8rem;
}

.menuItem {
  align-items: center;
  gap: 0.5rem;
}

.menuItem p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.customInput {
  padding: 0.7rem;
  border: solid 1px #ececed;
  border-radius: 0.3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: relative;
}

.customInput label {
  position: absolute;
  top: -10px;
  padding: 0 5px;
  background-color: #fff;
  color: #595964;
  font-size: 14px;
}

.customInput > input,
.customInput > input:hover,
.customInput > input:active,
.customInput > input:focus {
  color: #595964;
  padding: 0.3rem;
  font-size: medium;
  background-color: transparent;
  border: none;
  outline: none;
}

.filled-button {
  padding: 0.7rem;
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #1688fe;
  border-radius: 0.3rem;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
}

.filled-button:hover {
  background-color: #53bedf;
}

.filled-button:active {
  background-color: #6cafc4;
}

.link-button {
  padding: 0.7rem 0;
  font-size: medium;
  display: flex;
  align-items: center;
  color: #f25773;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.link-button:hover {
  color: #db4b65;
}

.link-button:active {
  color: #ff748d;
}

.main-content {
  justify-content: space-between;
}

.content {
  background-color: #fff;
  padding: 1rem;
  gap: 0.5rem;
  padding: 2rem 6rem;
}

.banner {
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: #008b5d;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
}

.banner-title {
  font-size: 24px;
  color: #fff;
  margin: 0.4rem 0;
}

.banner-subtitle {
  font-size: 16px;
  color: #fff;
}

.personal-infos {
  gap: 1.2rem;
}

.info-title {
  font-size: 24px;
  color: #000;
}

.info-forms {
  gap: 1rem;
  justify-content: space-between;
}

.form {
  width: 100%;
  gap: 1.5rem;
}

.input-line {
  display: flex;
  gap: 1.5rem;
}

.half-width {
  width: 49%;
}

.email-note {
  margin: 0;
}

.external-link {
  text-decoration: none;
  color: #1688fe;
}

.action-button {
  width: 12rem;
}

.profile-image {
  display: flex;
  justify-content: flex-end;
}

.profile-pic {
  border-radius: 50%;
  width: 17rem;
}

.custom-checkbox {
  color: #ececed;
}

.custom-font-text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.actions {
  gap: 1.7rem;
}

.delete-banner {
  border: solid 1px #ececed;
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
}

.footer {
  justify-content: flex-start;
  gap: 1rem;
  padding: 0 6rem;
}

.footer-text {
  font-family: "Gilroy-Regular", "Segoe UI", Tahoma;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  color: #595964;
  cursor: pointer;
}

.footer-text:hover {
  text-decoration: underline;
}
